<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" type="text/css">
    </head>
    <body class="container">
        <div class="title">Gym Class Booking System</div>
        <table>
            <tr>
                <td id="T1">1</td>
                <td id="T2">2</td>
                <td id="T3">3</td>
            </tr>
            <tr>
                <td id="C1">A</td>
                <td id="C2">B</td>
                <td id="C3">C</td>
            </tr>
            <tr>
                <td id="C4">D</td>
                <td id="C5">E</td>
                <td id="C6">F</td>
            </tr>
            <tr>
                <td id="C7">G</td>
                <td id="C8">H</td>
                <td id="C9">I</td>
            </tr>
        </table>
        <form method="POST">
        
        <br>

        Select Class: <select name="classes"><option value="Yoga">Yoga</option><option value="Pilates">Pilates</option><option value="Spin Class">Spin Class</option></select><br>
        Name: <input type="text" name="name"><br>
        Email: <input type="text" name="email"><br>

        <br>

        
            <input type="submit" value="Book Class">
        </form><br>
        <form action="/bookings">
            <input type="submit" value="List of bookings">
        </form>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>