<html>
	<head>
		<style>
			.container {
				float: left;
				background-color: cyan;
				display: flex;
			}
			div {
				padding-left: 30px;
			}
			t { 
				font-size: 50px;
			}
		</style>
	</head>
	<div class="container">
		<t>This is a title</t>
		
		<div width="30%">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</div>
		<div width="40%">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</div>
		<div width="30%">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</div>
	</div>
	<!-- Yes, I didn't remember this part. -->
	<form action="thepagewitheverything">
		<input type="submit" value="To the page that has everything on it.">
	</form>
</html>